{% extends 'base.html' %}
{% block title %}Контакты{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4"><i class="fas fa-phone"></i> Контакты</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5>Реквизиты</h5>
                    <p><strong>Адрес:</strong> г. Орск, ул. Комарова, д. 15</p>
                    <p><strong>Телефон:</strong> +7 (495) 123-45-67</p>
                    <p><strong>Email:</strong> info@domservice.ru</p>
                    <p><strong>Режим работы:</strong><br>
                    Пн-Пт: 9:00 - 18:00<br>
                    Сб: 10:00 - 15:00<br>
                    Вс: выходной</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5>Аварийная служба</h5>
                    <p><strong>📞 Круглосуточно:</strong> +7 (495) 987-65-43</p>
                    <p>При аварийных ситуациях (затопление, отсутствие света, отопления) звоните по этому номеру в любое время.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}